<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text classification</title>
    <!-- Bootstrap CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h2>Text classification </h2>
        <form action="{% url 'index'%}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="inputText" class="form-label">Text</label>
                <input type="text" class="form-control" name="inputText"  value="I saw a movie today and it was really good." name="inputText" placeholder="Enter text" required>
            </div>
            <div class="mb-3">
                <label for="responseTextarea" class="form-label">Emotion</label>
                <textarea class="form-control" id="responseTextarea" rows="3" readonly>{{response}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>
